$configure = array(
    'packagename' => 'mypackage',
    'version' => '1.0',
    'maintainer' => 'me myself <me@myself.com>',
    'description' => '',
    'url' => '',
    'packagetype' => 'deb',
    'depends' => array(
        'apache2',
        'libapache2-mod-php',
    ),

    'tmpdir' => '/tmp',
    'postinst' => '',
    'preinst' => '',
    'postrm' => '',
    'prerm' => '',

    'exclude' => array(
    ),
);

/* here you can define which files or directories should go where in the target system.
 * You can use placeholders defined in your $configure array
 * example:
 * $filemapping = array(
 *   'app' => 'var/www/@PACKAGENAME@/'
 * )
 */
$filemapping = array(
    '*' => 'var/www/@PACKAGENAME@',
);
