$configure = array(
    'packagename' => 'mypackage',
    'version' => '1.0',
    'maintainer' => 'me myself <me@myself.com>',
    'description' => '',
    'url' => '',
    'packagetype' => 'deb',
    'depends' => array(
        'apache2',
        'libapache2-mod-php',
    ),

    'tmpdir' => '/tmp',
    'exclude' => array(
    ),
    'postinst' => array(
    ),
    'preinst' => array(
    ),
    'postrm' => array(
    ),
    'prerm' => array(
    ),

    'install' => array(
    ),
);

/* here you can define which files or directories should go where in the target system
 * example:
 * $filemapping = array(
 *   'app' = 'var/www/mypackage/'
 * )
 */
$filemapping = array(
);
